# Reference
#####################
virus_ref: "/stornext/snfs5/next-gen/scratch/vipin/covid_workflow/version_2/rgenomes/covid19.fasta"
human_ref: "/stornext/snfs5/next-gen/scratch/vipin/covid_workflow/version_2/rgenomes/Homo_sapiens_assembly19broad.fasta"
#####################

# QC
#####################
fastqc_threads: 5
qc_dir: "QC"
#####################

# Trimming
#####################
trim_threads: 5
trim_dir: "trim"
trim_option: "ILLUMINACLIP:TruSeq3-PE.fa:2:30:10:1:true LEADING:3 TRAILING:3 SLIDINGWINDOW:10:28 MINLEN:30"
#####################

# Align
#####################
align_threads: 5
bam_dir: "bams"
bam_other_options: ""
#####################

# Align statistics
#####################
align_stat_threads: 5
stat_output: "bam_stat"
#####################

# Trim Bam
#####################
trim_bed: "/stornext/snfs5/next-gen/scratch/vipin/covid_workflow/swift_sars_primers_v2.bed"
prefix: "align.trim"
min_length: 30
min_quality: 20
offset_trimming: 5
slid: 4
#####################

# Calling Variant
#####################
var_prefix: "variants"
var_min_freq: 0.03
var_min_quality: 20
filter_ratio: 20
#####################

# TSV to VCF
#####################
pass_only: False
af: 0
#####################

# Concensus Varaint
#####################
con_prefix: "consensus"
con_min_freq: 0
con_min_quality: 20
#####################

# Nextclade
############
next_prefix: "nextclade"
#####################

# Pangolin
############
pan_dir_prefix: "clade"
pan_prefix: "report"
pan_threads: 1
#####################

# Human Metrics
###############
human_metrics_prefix: "human_reads"
#####################
